.navbar {
    position: fixed!important;
}

html,body { height:100%; }

.jumbotron {
    background-color: #17a2b8;
    color: #fff;
    padding-left: 9vh;
    padding-top: 16vh;
    margin-bottom: 0;
}

.jumbotron-href, .jumbotron-href:hover {
    color: inherit;
    text-decoration: underline;
}

.textblock {
    padding-bottom: 5%;
    padding-top: 1%;
}

.textheader {
    padding-bottom: 1%;
}

.textcard {
    padding: 10px 20px;
}

.content {
    padding-top: 2%;
}

.main-photo {
    position: absolute;
    top: -35vh;
    height: 100vh;
}