{% extends "base.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-3">Contacts us</h1>
    <p class="lead">We will be happy to assist you!</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 content">
            <p>
                <h1><i class="material-icons">email</i> Our E-mail</h1>
            <img src="img/contacts/image.png">
            </p>
            <p>
                <h1><i class="material-icons">person</i> Our names</h1>
                <ul>
                    <li><h4>Konstantin Simeonov</h4> <div class="alert alert-info" role="alert">+1(408)853-69-59</div></li>
                    <li><h4>Xinyi Tan</h4> <div class="alert alert-info" role="alert">+1(408)424-89-12</div></li>
                    <li><h4>Bogdan Salyp</h4> <div class="alert alert-info" role="alert">+1(408)527-99-59</div></li>
                    <li><h4>Landon Curt Noll</h4> <div class="alert alert-info" role="alert">+1(408)424-11-02</div></li>
                    <li><h4>Joe Pelissier</h4></li>
                </ul>
            </p>
        </div>
        <div class="col-1"></div>
        <div class="col-5"></div>
    </div>
</div>

{% endblock %}