{% extends "base.html" %}
{% block body %}

<div class="jumbotron">
    <h1 class="display-3">Frequently asked questions</h1>
    <p class="lead">You didn't find appropriate answer? <a class="jumbotron-href" href="contacts.html">Contact us!</a></p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1>Q: What is the answer to the Ultimate Question of Life, the Universe, and Everything?</h1>
            <h1>A: 42</h1>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}