{% extends "base.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-3">Tutorials, documentation, software information</h1>
    <p class="lead">Need more help? <a class="jumbotron-href" href="contacts.html">Contact us</a> or <a class="jumbotron-href" href="faq.html">check out FAQ</a></p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 content">
            <h1>Nothing</h1>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}