{% extends "base.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-3">Arcetri areas of use</h1>
    <p class="lead">Interesting facts about running projects and our customers</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 content">
            <div class="row">
                <div class="card-group">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/arcetri.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Machine learning</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/space.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Photonics and nano-technology</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/arcetri.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Finite Element Method Solutions</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/space.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Random Number Testing</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/space.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Cryptology</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card-group">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/arcetri.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Primality Testing</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/space.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/arcetri.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Elementary Number Theory</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="img/space.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Astrophysics</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <!--<img class="card-img-top" src="img/space.png" alt="Card image cap">-->
                        <!--<div class="card-body">-->
                            <!--<h4 class="card-title">Card title</h4>-->
                            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}